<%= form_tag("/search", method: "get") do %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
<% end %>
<% if @foods %>
    <ul>
    <% @foods["foods"]["food"].each do |food| %>
        <li><%= food["food_name"] %></li>
    <% end %>
    </ul>
<% end %>