<h2><%= @user.username %></h2>
<h4>Account Settings</h4>
<div class="row">
  <div class="col-xs-5">
    <table class="table">
      <tbody>
      <tr><td>Total Calories:</td><td><%= @user.calories %></td></tr>
      <tr><td>Percentage of Calories from Protein:</td><td><%= "#{@user.protein_ratio}%" %></td></tr>
      <tr><td>Percentage of Calories from Carbohydrate:</td><td><%= "#{@user.carbohydrate_ratio}%" %></td></tr>
      <tr><td>Percentage of Calories from Fat:</td><td><%= "#{@user.fat_ratio}%" %></p></td></tr>
      </tbody>
    </table>
  </div>
</div>
<% if @user.api_tokens.empty? %>
  <p><b><%= link_to 'Link with FatSecret', new_user_api_token_path(@user) %></b></p>
<% else %>
  <p><b>Linked with FatSecret!</b></p>
<% end %>

<%= link_to 'Edit Account Settings', edit_account_path %>